body {
/*  background: url("images/sunset.jpg") no-repeat center fixed ghostwhite;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  margin: 0px;
  font-family: "Helvetica Neue", sans-serif;
}

h1 {
  color: #111616;
  text-align: center;
  font-family: "Helvetica Neue", sans-serif;
}

h2 {
  color: #3EAF5A;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 30px;
}

h3 {
  color: #3EAF5A;
  font-size: 25px;
  font-weight: 35;
  font-family: "Helvetica Neue", sans-serif;

}

i {
  color: #3EAF5A;
  font-size: 20px;
  padding: center;
  text-align center;
}

/*i:hover {
 background-color: #29651C;
}*/

a {
  color: #3EAF5A;
}

/*a:hover {
background-color: #8e3411;
}*/

p {
  color: #111616;
  font-size: 20px;
  font-weight: 40;
  font-family: "Helvetica Neue", sans-serif;


}

/* This automatically sets left/right margins */

.button {
  background-color: #3EAF5A;
  color: #111616;
}

.button:hover {
  background-color: #29651C;
}

.container {
  width: 900px;   /* This sets the width */
  margin: 0 auto;
}

@media (max-width: 1000px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

/*custom and design*/
.card {
    background: whitesmoke;
    padding: 100px;
    padding-top: 20px;
    padding-bottom: 80px;
    margin: 20px auto;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.53);
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
}

#name-style {
  font-size: 40px;
  font-family: "Helvetica Neue", sans-serif;
  padding-top: 20px;
}
.button-style {
    background-color: #3EAF5A;
    color: #111616;
    padding: 10px;
    padding-top: 2px;
    border-radius: 6px;
    border-style: solid;
    border-width: thin;
    border-color: black;
    font-size: 30px;
    margin-left: 4px;
    margin-right: 30px;
    text-decoration: none;
}

/*.button-style:hover {
  background-color: #8e3411;

}*/
.intro-style {
  padding-bottom: 22px;
}

.images {
  border-radius: 50px;
  padding: 2px;
  border-width: thin;
  border-style: solid;
  margin-bottom: 10;
}

#profile {
  border-style: solid;
}
.text-format {
 padding-left: 20px;
}

.img-circle {
  border-radius: 50px;
  padding: 1px;
  border-width: thin;
}

.text-center {
  text-align: center;
  font-size: 40px;
}

ul.list-in-row > li {
 display: inline-block;
 align-content: center;
 padding-right: 20px;
}

.contact i {
  font-size: 30px;
}

.contact i:hover {
  color: #8e3411;
}

/*#github:hover {
 color: #8e3411;
}*/

h2.interests {
  padding-top: 20px;
}

/*javascript css*/

.banner {
  background-size: cover;
  background-position: center;
  padding: 250px 0;
  height: 40vh;
  max-width: 100%;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
  padding: 20px;
  text-align: center;
}


.banner p {
  font-size: 20px;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 20px;
  color: white;
  line-height: 30px;
  text-align: center;
}

.menu-contact {
    position: absolute;
    top: 60px;
    right: 80px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: -0.3px;
  }

  .logo {
    position: absolute;
    top: 60px;
    left: 80px;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0;
    color: white;
  }




